# .env file
LANGFUSE_PORT=3022
SALT=langfuse-salt-2026
NEXTAUTH_SECRET=4e7d88dca48f1e4f34d4dbd129f7f7f2814d4d10cadf4afab26bc63e4e66f61a
ENCRYPTION_KEY=c3519066a88164e5bccd05b9d6fe5bc797bdcb231314e4906077bde04965c6ac
REDIS_PASSWORD=langfuse-redis-pass
DATABASE_PASSWORD=langfuse-postgres-pass
CLICKHOUSE_PASSWORD=langfuse-clickhouse-pass
